// Light Theme Variables

// Background color
$PrimaryWhite: #FFFFFF;

// Text color
$PrimaryBlack: #1E1D21;
$TritiaryPurpleGray: #69657B;
$TritiaryGray: #AEA8B7;
$Grey: #888;

// Border color
$TritiaryLightGray: #E0E4F0;

// Button color
$PrimaryBrightPurple: #5826DA;
$SecondaryExoticPink: #E8467C;
$SecondaryToxicGreen: #26DAC4;
$SecondaryCalmOrange: #FA7E47;
$TritiaryLavander: #DACCFF;
$TritiaryLightestGray: #F2F4FA;
$TritiaryLightestExoticPink: #FFDFEA;
$TritiaryLightestCalmOrange: #FFE4D8;

// Hover/Focus color
$SecondaryDarkPurple: #4117AD;

// Animation
$animationCubicBezier: 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);